<!--Shelley Bercy
-->


<!DOCTYPE html>

<html>
        <head>
            <title> Home Page </title>
        </head>

        <body>
            <h1> Welcome to the Movie Rating Systems </h1>
            <p> Please use the link below to navigate around the website </p>
            <ul>
                <li><h2><a href='/AddReview'>Add new Reviews</a></h2></li>
                <li><h2><a href='/GetReviews'>View all Reviews for a genre</a></h2></li>
                <li><h2><a href="/getYear">Top 5 movies for a year</a></h2></li>
            </ul>
        </body>

</html>